<%- include('./partials/head.ejs') %>

<div class="grid-container">

    <article class="introduction tips">
        <% producten.forEach(product => { %>
            <% if(product.categorie.titel === "Ei") { %> 
            <ul>  
                    
                <% product.tips.forEach(function(tip) { %>
                    <li><%= tip.tekst %></li>
                  <% }); %>
                       
            </ul>
            <% } %>
        <% }); %>
    </article>
        
        <% producten.forEach(product => { %>
            <% if(product.categorie.titel === "Ei") { %>   
                <article>
                    <h2><%= product.titel %></h2>

                    <% if(product.titel === "Mijn eerste ei in 3 stappen") { %>   
                        <img class="article-img" src="/Ei-in-3-stappen.png" alt="Ei in 3 stappen">
                    <% } %>
                </article>
            <% } %>   
        <% }); %>
 
</div>

<%- include('./partials/foot.ejs') %>
