<%- include('./partials/head.ejs') %>

<div class="grid-container">
   
        
        <% producten.forEach(product => { %>
            <% if(product.categorie.titel === "Ei") { %>   
                <article>
                    <h2><%= product.titel %></h2>
                </article>
            <% } %>   
        <% }); %>
 
</div>

<%- include('./partials/foot.ejs') %>
