<%- include('./partials/head.ejs') %>

<div class="grid-container">
   
    <article>
        <h2>Helaas pindakaas! Dit product bestaat nog niet.</h2>
        <img class="article-img" src="/suplementen.jpg">
    </article>
 
</div>



<%- include('./partials/foot.ejs') %>