*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
:root{
    /* kleuren */
    --vinimini-dark-blue: #152A45;
    --vinimini-egg-yellow: #F4EB34;
    --vinimini-pinda-blue: #72AFA6;
    --vinimini-hazelnut-blue: #BADDCE;
    --vinimini-fish-blue: #DAEEEE;
    --vinimini-cashew-red: #E68460;
    --vinimini-walnut-brown: #CD9540;
    --vinimini-almond-orange: #F1C17E;
    --vinimini-shellfish-pink: #F1C8BA;
    --vinimini-soy-grey: #EAE3D2;
    --vinimini-grey-brown: #C3B59B;
}

/* overflow problems */
html{
    max-width:100vw;
}
body{
    max-width: 100vw;
}


/* navigatie */
nav{
    padding-top: .5rem;
    background-color: white;
    height: 3.5rem;
}
nav > ul {
    padding-left:0px;
    display: flex;
    justify-content: space-between;
    vertical-align: baseline;
}
nav > ul > li{
    list-style: none;
}
nav > ul > li > a{
    text-decoration: none;


    display:flex;
    flex-direction: column;
}
nav span{
    position:relative;
    top:-1rem;
    font-size: 1rem;
    bottom:1rem;
    color: black;
}
.menu-button{
    margin-right:1rem;
}
.menu-icon{
    position: relative;
    top: -.5rem;
}
.vini-mini-logo{
    max-height: 50px;
    margin-left:.5rem;
}

/* index */
.grid-container{
    width: 100vw;
    display:grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    margin-top:1rem;
}
.article-a{
    text-decoration: none;
}
article{
    width:80vw;
    height:17rem;
    /* background-color: var(--vinimini-pinda-blue); */
    border: 2px solid black;
    color:black;    
    text-decoration: none;
    /* display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    text-align: center;
}
article h2{
    position: relative;
    top:1rem;
}

/* plaatjes in articles */
.article-img{
    position:relative;
    top: 1.5rem;
 
}
